<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updatedAt="01/09/2024 00:30:00" createdAt="01/09/2024" notes="Proses Booking Villa Seluruh Kota Bali"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="01/09/2024 05:30:00" createdAt="01/09/2024" notes="Menerima Booking Villa"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="01/09/2024 06:30:00" createdAt="01/09/2024" value="Rp3.000.000"></app-pickup-call-card>

</ion-content>
